@font-face {
  font-family: 'caviar-dreams';
  font-style: normal;
  font-weight: 400;
  src: local('caviar-dreams'),
    url('./assets/fonts/caviar-dreams.woff') format('woff');
}

@font-face {
  font-family: 'caviar-dreams-bold';
  font-style: normal;
  font-weight: 700;
  src: local('caviar-dreams-bold'),
    url('./assets/fonts/caviar-dreams-bold.woff') format('woff');
}

@font-face {
  font-family: 'campton-light';
  font-style: normal;
  font-weight: 400;
  src: local('campton-light'),
    url('./assets/fonts/campton-light.woff') format('woff');
}

@font-face {
  font-family: 'campton-thin';
  font-style: normal;
  font-weight: 400;
  src: local('campton-thin'),
    url('./assets/fonts/campton-thin.woff') format('woff');
}

@layer components {
  body {
    @apply bg-background;
  }

  .heading {
    @apply font-heading text-4xl uppercase lg:text-5xl;
  }

  .subheading {
    @apply font-subheading text-primary text-xs
    leading-relaxed tracking-[0.5em] uppercase md:text-sm;
  }


  p {
    @apply font-body text-sm text-body;
  }

  img {
    @apply object-cover object-center;
  }

  h1 {
    @apply font-heading text-heading-light text-4xl uppercase lg:text-5xl;
  }

  h2 {
    @apply font-heading text-4xl uppercase md:text-2xl lg:text-4xl xl:text-5xl;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.router-link-active {
  color: rgba(187, 136, 15);
}

html {
  scroll-behavior: smooth; /* set scroll-behaviour to smooth here */
}


